/Library
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/CameraEffects.sln
/obj
/Packages
/WallTexture
/Temp
/.vscode
/build.apk
/MobileTerrorProject.sln
/.vs
